body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f3f2ef;
}

/* Header */
.top-bar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: white;
    padding: 10px 15px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

.profile-icon {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.search-bar {
    width: 60%;
    padding-top: 10px;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    
}

.header-icons {
    display: flex;
    align-items: center;
}

.header-icons i {
    font-size: 20px;
    margin-left: 15px;
    color: #666;
    position: relative;
}

/* Post Section */


/* Suggested follow section */


/* Footer */

